<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company-MVC Rest Controller</title>
</head>
<body>
<div th:replace="navbar :: body"></div>
<table style="text-align: center">
    <thead>
    <tr>
        <th style="width: 110px;">Full name</th>
        <th style="width: 100px;">Birth date</th>
        <th style="width: 50px;">Sex</th>
        <th style="width: 100px;">Salary</th>
        <th style="width: 100px;">Superior</th>
        <th style="width: 90px;">Branch</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${employeeList}">
        <td>
            <a th:href="@{/employees/__${emp.id}__}" th:text="${emp.firstName + ' ' + emp.lastName}"></a>
        </td>
        <td th:text="${emp.birthDay}"></td>
        <td th:text="${emp.sex}"></td>
        <td th:text="${emp.salary}"></td>
        <td th:text="${emp.superior}"></td>
        <td th:text="${emp.branch}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>