<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company-MVC Rest Controller</title>
</head>
<body>
<div th:replace="navbar :: body"></div>
<br /><br />
<span>Basic website for displaying results from REST api calls to
    <a href="https://github.com/KwisatzX/spring-mvc-company-restful">spring-mvc-company-restful</a></span><br />
<span>Spring-mvc-company-restful is expected to run concurrently at localhost:8080</span>
</body>
</html>